.restaurants-list {

}

.restaurants-list__title {
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
    margin: 0px;
}

.restaurant-card {
    margin-top: 16px;
}

.restaurant-card__image {
    width: 100%;
}

.restaurant-card__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin: 16px 0 4px 0;
}

.restaurant-card__info {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin: 0;
    color: #626262;
}

.restaurant-card__time {
    font-size: 13px;
    line-height: 21px;
    font-weight: normal;
    margin: 4px 0 20px 0;
    color: #1D1D1D;
}
